# Folders
/images/
back/node_modules/
/front/node_modules/

# Build output
/front/dist/
/front/build/

# Logs
/logs
*.log
npm-debug.log*

# Environment variables
/back/config.json

# IDE-specific files
/.vscode/
.VSCodeCounter

# Docker files
#/back/.dockerignore
#/back/Dockerfile
#/back/docker-compose.yml