# Ignore tools directory
#tools/

# Ignore node_modules in the backend
/back/node_modules/

# Ignore old API files
/back/apiOld/

# Ignore coverage reports from testing
/back/coverage/

# Ignore node_modules in the frontend
/front/node_modules/

# Ignore built assets from the frontend
/front/dist/
.front/build/

# Ignore log files
/logs
*.log
npm-debug.log*

# Ignore sensitive configuration file
/back/config.json

# Ignore IDE configuration files
/.vscode/
.VSCodeCounter

# Ignore Docker-related files (commented out for now)
#/back/.dockerignore
#/back/Dockerfile
#/back/docker-compose.yml