# Folders
images/

# Node modules
back/node_modules/
front/node_modules/

# Logs
logs
*.log
npm-debug.log*

# Environment variables
back/config.json

# Build output
front/dist
front/build

# Docker
#back/.dockerignore
#back/Dockerfile
#back/docker-compose.yml