@import '@/assets/styles/variables';

html, body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh; 
    width: 100vw; 
    margin: 0;             
    background: $background-lightgray;
}

button {
    appearance: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 0.5rem 1rem;
    background-color: $button-background;
    color: $button-text;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.2rem;
    border-radius: 0.5rem;
  
    &:disabled {
      opacity: 0.5;
    }
}

#app { 
    height: 70vh;
    width: 100%;
    background: $background-grey;

    .container {        
        height: 100%;
        width: 80%;
        padding: 0;

        .quiz {
            display: flex;
            flex-direction: row;
            height: 100%;                  
            width: 100%;
            margin: 0;  
            padding: 0;
            background: $background-darkgray;
  
            &-col1 {
                height: 100%;
                width: 30%;        
                padding: 1em;
                background: $quiz-column1-background;
            }
    
            &-col2 {
                height: 100%;
                width: 70%;
                padding: 1em;
            }
        } 
    }    

    .languageSelector {
        display: flex;
        justify-content: right;
        width: 100%;
        padding: 0.5em 0em;
    }
}